@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    #header {
        height: 5%;
        text-align: center;
    }

    #header p {
        top: 1%;
    }

    #user {
        width: 100%;
        margin-top: 14%;
    }

    .container {
        padding: 0;
        margin: 0;
        margin-top: 10%;
        width: 92%;
    }

    #topTracksList, #topArtistsList {
        width: 100%;
        overflow: hidden;
    }

    .button {
        width: 40%;
        padding: 5px;
        height: 40%;
        font-size: 16pt;
        font-family: 'DM Serif Display', serif;
    }

    #loadingSection {
        position: relative;
        margin-top: 80%;
        transform: translateY(-50%);
    }
  }