@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    margin: 0;
    padding: 0;
    background-color: #1e1e24;
    color: aliceblue;
    font-family: 'DM Serif Display', serif;
}

#header {
    margin: 0;
    padding-bottom: 5px;
    background-color: rgb(22, 19, 19);
}

#user {
    padding: 10px;
    width: 15%;
    background-color: rgb(22, 19, 19);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}

.headerButton {
    background-color: transparent;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    width: 100%;
    text-align: center;
}

.headerButton:hover {
    color: #9dbbbb;  
}

#home {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    font-size: 20pt;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

#user a {
    padding: 0;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
}

#user a:hover {
    color: #9dbbbb; 
}

#user a {
    padding: 0;
    margin: 0;
    color: aliceblue;
    cursor: pointer;
}

#tokenSection{
    display: none;
    margin: 0;
    padding: 0;
}

#topSection{
    display: none;
}

.container{
    padding: 0;
}

.row {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #798d8d;
}

a:hover {
    color: #9dbbbb;   
}

#topTracksList, #topArtistsList {
    margin: 0;
    padding: 0;
    width: 40%;
    border: 1px solid aliceblue;
}

hr {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.position {
    position: relative;
    text-align: left;
    font-size: 16pt;
}

.button {
    width: 15%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin: 20px;
    font-size: 12pt;
    background-color: #2F4F4F;
    border: 1px #9dbbbb solid;
    color: aliceblue;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    color: #9dbbbb;   
}

#loadingSection {
    position: relative;
    margin-top: 25%;
    transform: translateY(-50%);
}

footer {
    margin: 0;
    padding: 10px;
    position: relative;
    width: 100%;
    text-align: center;
}

footer input {
    background: none;
    border: none;
    color: aliceblue;
}

footer input:hover {
    color: #9dbbbb;
}

footer p {
    padding: 0;
    margin: 0;
}

footer * {
    display: inline-block;
}

.close-modal-button {
    background: none;
    border: none;
    color: aliceblue;
    font-size: 20pt;
    padding: 0;
    margin: 0;
}

.modal-body {
    font-family: 'Poppins', sans-serif;
}

.btn-group {
  width: 20%;
}